In [1]:
# Copyright 2022 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

<img src="http://developer.download.nvidia.com/compute/machine-learning/frameworks/nvidia_logo.png" style="width: 90px; float: right;">

# Getting Started with NVTabular: Process Tabular Data On GPU

This notebook is created using the latest stable [merlin-tensorflow](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-tensorflow/tags) container. 

## Overview

[Merlin NVTabular](https://github.com/NVIDIA-Merlin/NVTabular) is a library for processing tabular data. It lets Data Scientists and ML Engineers easily process data leveraging custom operators specifically designed for machine learning workflows. The processing is carried out on the GPU with best practices baked into the library. Running on the GPU translates to faster iteration cycles and, thanks to leveraging `dask`, enables working on arbitrarily large datasets. NVTabular is a part of the [Merlin open source framework](https://developer.nvidia.com/nvidia-merlin) which allows for seamless transitioning to working with your preprocessed data using the numerous other libraries, including ones for model construction and serving.

Core features of Merlin NVTabular:
- Many different operators (`Categorify`, `FillMissing`, `TargetEncoding`, `Groupby`, etc) tailored for processing tabular data at scale
- Flexible APIs targeted to both production and research
- Deep integration with NVIDIA Merlin platform, including Merlin Models for constructing and training Deep Learning models and Merlin Systems for model serving


### Learning objectives

- Processing the Movielens dataset.
- Understanding Merlin NVTabular high-level concepts (Dataset, Workflow)
- A first look at operators and defining the preprocessing workflow

## Downloading the dataset

### MovieLens25M

The [MovieLens25M](https://grouplens.org/datasets/movielens/25m/) is a popular dataset for recommender systems and is widely used in academic publications. The dataset contains 25M movie ratings for 62,000 movies given by 162,000 users. Many projects use only the user/item/rating information of MovieLens, but the original dataset provides metadata for the movies, as well. For example, which genres a movie has.

To streamline obtaining data, we will use a function from Merlin Models.

In [2]:
import os
from merlin.datasets.entertainment import get_movielens

input_path = os.environ.get("INPUT_DATA_DIR", os.path.expanduser("~/merlin-framework/movielens/"))
get_movielens(variant="ml-1m", path=input_path);

2022-07-26 04:09:08.762627: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:952] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-26 04:09:08.763085: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:952] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-26 04:09:08.763222: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:952] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
downloading ml-1m.zip: 5.93MB [00:03, 1.68MB/s]
unzipping files: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 42.70files/s]
/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
INFO:merlin.datasets.entertainment.movielens.dataset:starting ETL..
/usr/local/lib/python3.8/dist-packages/cudf/core/frame.py:384: UserWarning: The deep parameter is ignored and is only included for pandas compatibility.
  warnings.warn(

The original dataset has been preprocessed slightly to make it easier to work with. Instead of having to deal with `dat` files, we can read files directly into `cudf` using the parquet format.

The data has already been split for us into train and validation sets.

In [3]:
ls {input_path}/ml-1m #noqa

README                    ratings.dat    users.dat
movies.dat                train.parquet  users_converted.parquet
movies_converted.parquet  transformed/   valid.parquet

For our initial workflow, let's use the `rating` and `genres` as our features.

In [4]:
import cudf

train = cudf.read_parquet(f'{input_path}/ml-1m/train.parquet')
valid = cudf.read_parquet(f'{input_path}/ml-1m/train.parquet')

movies = cudf.read_parquet(f'{input_path}/ml-1m/movies_converted.parquet')

From the provided `train` and `validation` sets we will extract `userId`, `movieId` and `rating`. Additionally, we will merge the `movies` DataFrame onto our `train` and `validation` sets using the `movieId` column as key. This will allow us to use `genres` as well.

The `genres` are represented as a list of categories, which is something our workflow can accommodate.

In [5]:
train.head()

        userId  movieId  rating  timestamp
302643    1797     3095       4  974701291
559281    3435     3396       5  967334150
273045    1647     2355       4  974712256
96649      648     2700       3  975712956
249587    1503     3555       3  974748488

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,Jumanji (1995),"[Adventure, Children's, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama]"
4,5,Father of the Bride Part II (1995),[Comedy]

## Defining the workflow

Before we can leverage `NVTabular`, we need to convert our data to a `Merlin Dataset`.

We achieve this by passing the `cudf.DataFrame` to the `Dataset` constructor.

In [7]:
import nvtabular as nvt

train_ds = nvt.Dataset(train)
valid_ds = nvt.Dataset(valid)

train_ds, valid_ds

(<merlin.io.dataset.Dataset at 0x7f313417c850>,
 <merlin.io.dataset.Dataset at 0x7f313417ce80>)

Now that we have read in our data, let's define a workflow.

A workflow consists of one or more preprocessing steps that will be applied to our data.

We begin by converting `userId` and `movieId` columns to categories. In our dataset, they are already represented as integers, but many models require them to be continuous, which is not something we can guarantee about our input data before preprocessing. Further to that, in order to train models on our data, we need to ensure we handle categories not seen in the train dataset.

We achieve both these tasks with the `Categorify` operator.

In [8]:
encoded_categories = ['userId', 'movieId'] >> nvt.ops.Categorify()

Above, we are telling `NVTabular` to select the `userId` and `movieId` columns and to apply the `Categorify` operator to them. We store the results as `encoded_categories`.

When we run the cell above, the actual operation is not performed. Only a graph representation of the operation is created.

In [9]:
encoded_categories.graph

After we finish defining preprocessing steps, we combine them to create a `Workflow`. But before we do so, let's perform some additional preprocessing.

Let us now add the `genres` information from the `movies` `DataFrame`.

In [10]:
genres = ['movieId'] >> nvt.ops.JoinExternal(movies, on='movieId', columns_ext=['movieId', 'genres'])
genres.graph

We now combine these two operations and additionally add the `rating` column to the output.

In [11]:
output = encoded_categories + genres + ['rating']
output.graph

Time to create a `Workflow`. A `Workflow` combines our preprocessing and can be `fitted` to our data and used to transform it or another dataset.

In [12]:
workflow = nvt.Workflow(output)

## Applying the workflow to the train and validation sets

`NVTabular` follows the familiar `sklearn` API. We can fit the workflow to our train set and subsequently use it to transform our validation dataset.

In [13]:
train_transformed = workflow.fit_transform(train_ds)
train_transformed.compute().head()

/usr/local/lib/python3.8/dist-packages/cudf/core/frame.py:384: UserWarning: The deep parameter is ignored and is only included for pandas compatibility.
  warnings.warn(

   userId  movieId                           genres  rating
0    1795      582                          [Drama]       4
1    2243      363             [Children's, Comedy]       5
2      65       46  [Animation, Children's, Comedy]       4
3    1876      115              [Animation, Comedy]       3
4    1086      246               [Action, Thriller]       3

We have applied the workflow, but there is still some preprocessing that is missing.

Our genres are represented as strings. In order for our model to be able to use them, they need to be represented as integers.

Let's add another preprocessing step that will do just that.

In [14]:
encoded_genres = genres >> nvt.ops.Categorify()

We can now recreate our `Workflow` and re-fit it.

In [31]:
workflow = nvt.Workflow(encoded_categories + encoded_genres + ['rating'] + target_binary)

train_transformed = workflow.fit_transform(train_ds)
train_transformed.compute().head()

/usr/local/lib/python3.8/dist-packages/cudf/core/frame.py:384: UserWarning: The deep parameter is ignored and is only included for pandas compatibility.
  warnings.warn(

   userId  movieId       genres  rating  target_binary
0    1795      582          [2]       4           True
1    2243      363      [10, 1]       5           True
2      65       46  [12, 10, 1]       4           True
3    1876      115      [12, 1]       3          False
4    1086      246       [3, 4]       3          False

That's what we have been looking for!

We have now fitted the workflow to our training set and used it to transform it. Let us now also transform the validation set.

In [32]:
valid_transformed = workflow.transform(valid_ds)
valid_transformed.compute().head()

   userId  movieId       genres  rating  target_binary
0    1795      582          [2]       4           True
1    2243      363      [10, 1]       5           True
2      65       46  [12, 10, 1]       4           True
3    1876      115      [12, 1]       3          False
4    1086      246       [3, 4]       3          False

## Using the transformed datasets

We can export processed data to a `cudf DataFrame`.

In [33]:
gdf = train_transformed.compute()
type(gdf)

cudf.core.dataframe.DataFrame

Or we can output it to disk.

In [34]:
train_transformed.to_parquet('train_transformed')
!ls train_transformed

_file_list.txt	_metadata  _metadata.json  part_0.parquet  schema.pbtxt

Writing it out to disk not only stores the data, but also presrves the `schema` that we implicitly created during preprocessing.

In [35]:
train_transformed.schema

[{'name': 'userId', 'tags': {<Tags.CATEGORICAL: 'categorical'>}, 'properties': {'num_buckets': None, 'freq_threshold': 0, 'max_size': 0, 'start_index': 0, 'cat_path': './/categories/unique.userId.parquet', 'domain': {'min': 0, 'max': 6041, 'name': 'userId'}, 'embedding_sizes': {'cardinality': 6041, 'dimension': 210}}, 'dtype': dtype('int64'), 'is_list': False, 'is_ragged': False}, {'name': 'movieId', 'tags': {<Tags.CATEGORICAL: 'categorical'>}, 'properties': {'num_buckets': None, 'freq_threshold': 0, 'max_size': 0, 'start_index': 0, 'cat_path': './/categories/unique.movieId.parquet', 'domain': {'min': 0, 'max': 3691, 'name': 'movieId'}, 'embedding_sizes': {'cardinality': 3691, 'dimension': 159}}, 'dtype': dtype('int64'), 'is_list': False, 'is_ragged': False}, {'name': 'genres', 'tags': {<Tags.CATEGORICAL: 'categorical'>}, 'properties': {'num_buckets': None, 'freq_threshold': 0, 'max_size': 0, 'start_index': 0, 'cat_path': './/categories/unique.genres.parquet', 'domain': {'min': 0, 'max': 19, 'name': 'genres'}, 'embedding_sizes': {'cardinality': 19, 'dimension': 16}}, 'dtype': dtype('int64'), 'is_list': True, 'is_ragged': True}, {'name': 'rating', 'tags': set(), 'properties': {}, 'dtype': dtype('int64'), 'is_list': False, 'is_ragged': False}, {'name': 'target_binary', 'tags': {<Tags.BINARY_CLASSIFICATION: 'binary_classification'>, <Tags.TARGET: 'target'>}, 'properties': {}, 'dtype': dtype('bool'), 'is_list': False, 'is_ragged': False}]

The information contained in the schema can be leveraged by downstream tools, such as `Merlin Models` and `Merlin Systems`, to streamline model training and deployment.

This brings us to the third option available to us.

We can use our `Dataset`s to train a model directly.

Let's finish off this notebook with training a DLRM (a Deep Learning Recommendation Model introduced in [Deep Learning Recommendation Model for Personalization and Recommendation Systems](https://arxiv.org/abs/1906.00091)) on our preprocessed data.

Thanks to the information in the schema this will require very few lines of code.

To learn more about the integration between `NVTabular` and `Merlin Models`, please see this [example](https://github.com/NVIDIA-Merlin/models/blob/main/examples/02-Merlin-Models-and-NVTabular-integration.ipynb) in the `Merlin Models` [repository](https://github.com/NVIDIA-Merlin/models).

## Training a DLRM model

We define the DLRM model, whose prediction task is a binary classification. From the `schema`, the categorical features are identified (and embedded) and the target column is also automatically inferred, because of the schema tags. We talk more about the schema in the next [example notebook (02)](02-Merlin-Models-and-NVTabular-integration.ipynb),

In [55]:
import tensorflow
import merlin.models.tf as mm

model = mm.DLRMModel(
    train_transformed.schema,
    embedding_dim=64,
    bottom_block=mm.MLPBlock([128, 64]),
    top_block=mm.MLPBlock([128, 64, 32]),
    prediction_tasks=mm.RegressionTask('rating')
)

opt = tensorflow.optimizers.Adam(learning_rate=1e-3)
model.compile(optimizer=opt)
model.fit(train_transformed, validation_data=valid_transformed, batch_size=1024, epochs=5)

model.optimizer.learning_rate = 1e-4
model.fit(train_transformed, validation_data=valid_transformed, batch_size=1024, epochs=3)

Epoch 1/5
782/782 [==============================] - 9s 10ms/step - loss: 0.1943 - root_mean_squared_error: 0.4408 - regularization_loss: 0.0000e+00 - val_loss: 0.1777 - val_root_mean_squared_error: 0.4215 - val_regularization_loss: 0.0000e+00
Epoch 2/5
782/782 [==============================] - 7s 9ms/step - loss: 0.1796 - root_mean_squared_error: 0.4238 - regularization_loss: 0.0000e+00 - val_loss: 0.1737 - val_root_mean_squared_error: 0.4168 - val_regularization_loss: 0.0000e+00
Epoch 3/5
782/782 [==============================] - 7s 9ms/step - loss: 0.1763 - root_mean_squared_error: 0.4199 - regularization_loss: 0.0000e+00 - val_loss: 0.1710 - val_root_mean_squared_error: 0.4135 - val_regularization_loss: 0.0000e+00
Epoch 4/5
782/782 [==============================] - 7s 8ms/step - loss: 0.1734 - root_mean_squared_error: 0.4164 - regularization_loss: 0.0000e+00 - val_loss: 0.1670 - val_root_mean_squared_error: 0.4086 - val_regularization_loss: 0.0000e+00
Epoch 5/5
782/782 [==============================] - 7s 8ms/step - loss: 0.1700 - root_mean_squared_error: 0.4123 - regularization_loss: 0.0000e+00 - val_loss: 0.1620 - val_root_mean_squared_error: 0.4025 - val_regularization_loss: 0.0000e+00
Epoch 1/3
782/782 [==============================] - 8s 9ms/step - loss: 0.1603 - root_mean_squared_error: 0.4004 - regularization_loss: 0.0000e+00 - val_loss: 0.1571 - val_root_mean_squared_error: 0.3963 - val_regularization_loss: 0.0000e+00
Epoch 2/3
782/782 [==============================] - 7s 9ms/step - loss: 0.1573 - root_mean_squared_error: 0.3966 - regularization_loss: 0.0000e+00 - val_loss: 0.1546 - val_root_mean_squared_error: 0.3932 - val_regularization_loss: 0.0000e+00
Epoch 3/3
782/782 [==============================] - 7s 9ms/step - loss: 0.1551 - root_mean_squared_error: 0.3939 - regularization_loss: 0.0000e+00 - val_loss: 0.1524 - val_root_mean_squared_error: 0.3904 - val_regularization_loss: 0.0000e+00

## Conclusion

NVTabular exposes operators tailored for processing tabular data at scale with machine learning best practices baked into the library. It tightly integrates with the rest of the Merlin Framework to streamline model construction, training and serving.

## Next steps

In subsequent notebooks, we will define more advanaced workflows and custom operators. We will also take a closer look exporting NVTabular datasets and workflows at running in different environments (CPU, GPU and multi-GPU).