In [1]:
# Copyright 2021 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

In [2]:
# External dependencies
import os

import cudf  # cuDF is an implementation of Pandas-like Dataframe on GPU
# import rmm

import nvtabular as nvt

from sklearn.model_selection import train_test_split

In [3]:
INPUT_DATA_DIR = os.environ.get(
    "INPUT_DATA_DIR", os.path.expanduser("~/nvt-examples/end-to-end-poc/data/")
)

## Movie Feature Engineering

In [4]:
# TODO: Figure out where movie_genres.parquet and movie_tags.parquet come from

In [5]:
movie_genres = cudf.read_parquet(os.path.join(INPUT_DATA_DIR, "movie_genres.parquet"))
movie_genres.head()

   movieId                                             genres
0        1  [Adventure, Animation, Children, Comedy, Fantasy]
1        2                     [Adventure, Children, Fantasy]
2        3                                  [Comedy, Romance]
3        4                           [Comedy, Drama, Romance]
4        5                                           [Comedy]

In [6]:
movie_tags = cudf.read_parquet(os.path.join(INPUT_DATA_DIR, "movie_tags.parquet"))
movie_tags.head()

   movieId                                        tags_unique  tags_nunique
0        1  [2009 reissue in Stereoscopic 3-D, 3D, 55 movi...           126
1        2  [Adaptation of Book, CLV, Children, Chris Van ...            44
2        3  [Ann Margaret, Burgess Meredith, CLV, Daryl Ha...            23
3        4  [CLV, based on novel or book, characters, chic...             8
4        5  [CLV, Comedy, Diane Keaton, Fantasy, Steve Mar...            20

In [7]:
tags_ds = nvt.Dataset(movie_tags)

In [8]:
cat_with_genres = ["tags_unique", "movieId"] >> nvt.ops.JoinExternal(movie_genres, on=["movieId"])

In [9]:
cat_features = cat_with_genres >> nvt.ops.Categorify()

In [10]:
cont_features = nvt.ColumnGroup([])
other_features = nvt.ColumnGroup(["tags_nunique"])

In [11]:
output = cat_features + cont_features + other_features
(output).graph

In [12]:
workflow = nvt.Workflow(output)

In [13]:
%%time
workflow.fit(tags_ds)

CPU times: user 363 ms, sys: 35.8 ms, total: 399 ms
Wall time: 399 ms

In [14]:
%time
movie_features = workflow.transform(tags_ds)

CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 3.58 µs

In [18]:
movie_features.to_ddf().compute().to_parquet(os.path.join(INPUT_DATA_DIR, "movie_features.parquet"))