In [1]:
# Copyright 2021 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

In [2]:
# External dependencies
import os

import cudf  # cuDF is an implementation of Pandas-like Dataframe on GPU
# import rmm

import numpy as np
import nvtabular as nvt

from sklearn.model_selection import train_test_split

In [3]:
INPUT_DATA_DIR = os.environ.get(
    "INPUT_DATA_DIR", os.path.expanduser("./data/")
)

## Read Training Examples

In [4]:
training_examples = cudf.read_parquet(os.path.join(INPUT_DATA_DIR, "training_examples.parquet"))
training_examples.head()

                                                   search_terms  \
user_id day
1       4146  [17594, 40872, 33339, 57686, 24188, 53948, 397...
2       4071  [54673, 19997, 44011, 67380, 36218, 48078, 469...
3       7521  [38027, 927, 30849, 71320, 48032, 41101, 43529...
        7688  [39905, 26066, 62981, 47185, 41868, 39232, 668...
        8045  [591, 51913, 67271, 43501, 35740, 20286, 45708...

                                                         genres  \
user_id day
1       4146  [3, 10, 9, 17, 18, 3, 9, 19, 2, 3, 6, 10, 3, 4...
2       4071  [3, 10, 6, 16, 2, 3, 17, 18, 9, 17, 18, 2, 3, ...
3       7521  [6, 9, 16, 19, 7, 12, 18, 3, 6, 17, 3, 4, 5, 6...
        7688  [7, 9, 17, 18, 2, 9, 19, 6, 16, 8, 20, 6, 10, ...
        8045  [7, 15, 18, 2, 18, 6, 7, 18, 4, 17, 6, 7, 9, 7...

                                                     timestamps  \
user_id day
1       4146  [1147868053, 1147868097, 1147868414, 114786846...
2       4071  [1141415528, 1141415566, 1141415576, 114141558...
3       7521  [1439472199, 1439472203, 1439472211, 143947221...
        7688  [1453904021, 1453904031, 1453904046, 145390404...
        8045  [1484753654, 1484753762, 1484753766, 148475380...

                                                      movie_ids  \
user_id day
1       4146  [5841, 1592, 1218, 6417, 6259, 3353, 1062, 879...
2       4071  [5841, 493, 1339, 1592, 2550, 5338, 150, 234, ...
3       7521  [352, 586, 1238, 1, 2481, 258, 315, 1167, 523,...
        7688  [1176, 1178, 10678, 9777, 11446, 11930, 10407,...
        8045  [1063, 29365, 3908, 726, 763, 110, 213, 29375,...

              movie_id_count  target_item
user_id day
1       4146              52         7237
2       4071             124         2061
3       7521             314        24542
        7688              19         4240
        8045              47         9335

## User Feature Engineering

In [5]:
user_features = training_examples.drop(labels="target_item", axis=1)

In [6]:
from datetime import datetime

user_features["datetime"] = \
    np.array([datetime.utcfromtimestamp(values[-1]) for values in user_features["timestamps"].to_pandas()], dtype=object)

user_features["created"] = user_features["datetime"]

In [7]:
user_features

                                                   search_terms  \
user_id day
1       4146  [17594, 40872, 33339, 57686, 24188, 53948, 397...
2       4071  [54673, 19997, 44011, 67380, 36218, 48078, 469...
3       7521  [38027, 927, 30849, 71320, 48032, 41101, 43529...
        7688  [39905, 26066, 62981, 47185, 41868, 39232, 668...
        8045  [591, 51913, 67271, 43501, 35740, 20286, 45708...
...                                                         ...
162538  7513  [966, 72796, 41820, 37467, 34763, 17524, 67915...
162539  2378  [63654, 55212, 56028, 969, 19513, 43220, 3728,...
162540  5315  [38584, 64554, 19827, 25177, 2817, 54652, 6045...
        5317     [37310, 63784, 190, 18949, 66803, 6758, 43774]
162541  5223  [45237, 60576, 72443, 33539, 44426, 42126, 565...

                                                         genres  \
user_id day
1       4146  [3, 10, 9, 17, 18, 3, 9, 19, 2, 3, 6, 10, 3, 4...
2       4071  [3, 10, 6, 16, 2, 3, 17, 18, 9, 17, 18, 2, 3, ...
3       7521  [6, 9, 16, 19, 7, 12, 18, 3, 6, 17, 3, 4, 5, 6...
        7688  [7, 9, 17, 18, 2, 9, 19, 6, 16, 8, 20, 6, 10, ...
        8045  [7, 15, 18, 2, 18, 6, 7, 18, 4, 17, 6, 7, 9, 7...
...                                                         ...
162538  7513  [6, 9, 16, 19, 7, 12, 18, 3, 6, 17, 9, 19, 6, ...
162539  2378  [9, 16, 2, 3, 17, 18, 6, 9, 16, 2, 3, 4, 5, 10...
162540  5315  [18, 6, 9, 18, 6, 10, 3, 4, 5, 6, 13, 18, 9, 1...
        5317  [2, 3, 9, 12, 18, 3, 4, 5, 6, 2, 3, 4, 5, 6, 9...
162541  5223  [7, 9, 18, 9, 3, 6, 16, 19, 2, 3, 17, 3, 5, 10...

                                                     timestamps  \
user_id day
1       4146  [1147868053, 1147868097, 1147868414, 114786846...
2       4071  [1141415528, 1141415566, 1141415576, 114141558...
3       7521  [1439472199, 1439472203, 1439472211, 143947221...
        7688  [1453904021, 1453904031, 1453904046, 145390404...
        8045  [1484753654, 1484753762, 1484753766, 148475380...
...                                                         ...
162538  7513  [1438780751, 1438780754, 1438780759, 143878083...
162539  2378  [995149720, 995149760, 995149788, 995149788, 9...
162540  5315  [1248854959, 1248855507, 1248855584, 124885572...
        5317  [1249028189, 1249028584, 1249028593, 124902967...
162541  5223  [1240946758, 1240946774, 1240947363, 124094737...

                                                      movie_ids  \
user_id day
1       4146  [5841, 1592, 1218, 6417, 6259, 3353, 1062, 879...
2       4071  [5841, 493, 1339, 1592, 2550, 5338, 150, 234, ...
3       7521  [352, 586, 1238, 1, 2481, 258, 315, 1167, 523,...
        7688  [1176, 1178, 10678, 9777, 11446, 11930, 10407,...
        8045  [1063, 29365, 3908, 726, 763, 110, 213, 29375,...
...                                                         ...
162538  7513  [352, 586, 1238, 523, 2234, 2767, 2671, 4888, ...
162539  2378  [1656, 476, 1708, 1169, 1250, 601, 3270, 1934,...
162540  5315  [2914, 11237, 5293, 11698, 11209, 4064, 4268, ...
        5317      [13456, 6259, 8247, 4616, 8243, 11688, 10245]
162541  5223  [1664, 259, 949, 2016, 2072, 3163, 894, 1217, ...

              movie_id_count            datetime             created
user_id day
1       4146              52 2006-05-17 15:34:04 2006-05-17 15:34:04
2       4071             124 2006-03-03 20:32:30 2006-03-03 20:32:30
3       7521             314 2015-08-13 14:14:06 2015-08-13 14:14:06
        7688              19 2016-01-27 14:16:35 2016-01-27 14:16:35
        8045              47 2017-01-18 16:19:12 2017-01-18 16:19:12
...                      ...                 ...                 ...
162538  7513             103 2015-08-05 14:39:05 2015-08-05 14:39:05
162539  2378              42 2001-07-14 22:46:04 2001-07-14 22:46:04
162540  5315              55 2009-07-29 09:59:52 2009-07-29 09:59:52
        5317               7 2009-07-31 08:42:04 2009-07-31 08:42:04
162541  5223             106 2009-04-28 21:20:13 2009-04-28 21:20:13

[639668 rows x 7 columns]

In [8]:
user_features.reset_index(inplace=True)
user_features.drop(labels="day", axis=1)

,user_id,search_terms,genres,timestamps,movie_ids,movie_id_count,datetime,created
0,1,"[17594, 40872, 33339, 57686, 24188, 53948, 397...","[3, 10, 9, 17, 18, 3, 9, 19, 2, 3, 6, 10, 3, 4...","[1147868053, 1147868097, 1147868414, 114786846...","[5841, 1592, 1218, 6417, 6259, 3353, 1062, 879...",52,2006-05-17 15:34:04,2006-05-17 15:34:04
1,2,"[54673, 19997, 44011, 67380, 36218, 48078, 469...","[3, 10, 6, 16, 2, 3, 17, 18, 9, 17, 18, 2, 3, ...","[1141415528, 1141415566, 1141415576, 114141558...","[5841, 493, 1339, 1592, 2550, 5338, 150, 234, ...",124,2006-03-03 20:32:30,2006-03-03 20:32:30
2,3,"[38027, 927, 30849, 71320, 48032, 41101, 43529...","[6, 9, 16, 19, 7, 12, 18, 3, 6, 17, 3, 4, 5, 6...","[1439472199, 1439472203, 1439472211, 143947221...","[352, 586, 1238, 1, 2481, 258, 315, 1167, 523,...",314,2015-08-13 14:14:06,2015-08-13 14:14:06
3,3,"[39905, 26066, 62981, 47185, 41868, 39232, 668...","[7, 9, 17, 18, 2, 9, 19, 6, 16, 8, 20, 6, 10, ...","[1453904021, 1453904031, 1453904046, 145390404...","[1176, 1178, 10678, 9777, 11446, 11930, 10407,...",19,2016-01-27 14:16:35,2016-01-27 14:16:35
4,3,"[591, 51913, 67271, 43501, 35740, 20286, 45708...","[7, 15, 18, 2, 18, 6, 7, 18, 4, 17, 6, 7, 9, 7...","[1484753654, 1484753762, 1484753766, 148475380...","[1063, 29365, 3908, 726, 763, 110, 213, 29375,...",47,2017-01-18 16:19:12,2017-01-18 16:19:12
...,...,...,...,...,...,...,...,...
639663,162538,"[966, 72796, 41820, 37467, 34763, 17524, 67915...","[6, 9, 16, 19, 7, 12, 18, 3, 6, 17, 9, 19, 6, ...","[1438780751, 1438780754, 1438780759, 143878083...","[352, 586, 1238, 523, 2234, 2767, 2671, 4888, ...",103,2015-08-05 14:39:05,2015-08-05 14:39:05
639664,162539,"[63654, 55212, 56028, 969, 19513, 43220, 3728,...","[9, 16, 2, 3, 17, 18, 6, 9, 16, 2, 3, 4, 5, 10...","[995149720, 995149760, 995149788, 995149788, 9...","[1656, 476, 1708, 1169, 1250, 601, 3270, 1934,...",42,2001-07-14 22:46:04,2001-07-14 22:46:04
639665,162540,"[38584, 64554, 19827, 25177, 2817, 54652, 6045...","[18, 6, 9, 18, 6, 10, 3, 4, 5, 6, 13, 18, 9, 1...","[1248854959, 1248855507, 1248855584, 124885572...","[2914, 11237, 5293, 11698, 11209, 4064, 4268, ...",55,2009-07-29 09:59:52,2009-07-29 09:59:52
639666,162540,"[37310, 63784, 190, 18949, 66803, 6758, 43774]","[2, 3, 9, 12, 18, 3, 4, 5, 6, 2, 3, 4, 5, 6, 9...","[1249028189, 1249028584, 1249028593, 124902967...","[13456, 6259, 8247, 4616, 8243, 11688, 10245]",7,2009-07-31 08:42:04,2009-07-31 08:42:04
639667,162541,"[45237, 60576, 72443, 33539, 44426, 42126, 565...","[7, 9, 18, 9, 3, 6, 16, 19, 2, 3, 17, 3, 5, 10...","[1240946758, 1240946774, 1240947363, 124094737...","[1664, 259, 949, 2016, 2072, 3163, 894, 1217, ...",106,2009-04-28 21:20:13,2009-04-28 21:20:13

In [9]:
user_features.dtypes

user_id                    int32
day                        int64
search_terms                list
genres                      list
timestamps                  list
movie_ids                   list
movie_id_count             int32
datetime          datetime64[us]
created           datetime64[us]
dtype: object

In [11]:
user_features.to_parquet(os.path.join(INPUT_DATA_DIR, "user_features.parquet"))