In [1]:
# Copyright 2021 NVIDIA Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

In [2]:
import os

import cudf
import rmm

import nvtabular as nvt

In [3]:
from merlin_models.tensorflow.models.retrieval import YouTubeDNN

In [4]:
rmm.reinitialize(managed_memory=True)

In [5]:
INPUT_DATA_DIR = os.environ.get(
    "INPUT_DATA_DIR", os.path.expanduser("./data/")
)
MODEL_BASE_DIR = os.environ.get(
    "MODEL_BASE_DIR", os.path.expanduser("./models/")
)

In [6]:
examples = cudf.read_parquet(os.path.join(INPUT_DATA_DIR, "grouped_examples.parquet"))
examples.head()

                                                   sampled_tag  \
userId day
1      4146  [58406, 45148, 1688, 8795, 61752, 3545, 3500, ...
2      4071  [52780, 65105, 38902, 64349, 1452, 57559, 3972...
3      7521  [8568, 52357, 4576, 24974, 28670, 24770, 6610,...
       7688  [67417, 71080, 30253, 55981, 25864, 22485, 467...
       8045  [6042, 50075, 32067, 6526, 57987, 30637, 56885...

                                                     timestamp  \
userId day
1      4146  [1147868053, 1147868097, 1147868414, 114786846...
2      4071  [1141415528, 1141415566, 1141415576, 114141558...
3      7521  [1439472199, 1439472203, 1439472211, 143947221...
       7688  [1453904021, 1453904031, 1453904046, 145390404...
       8045  [1484753654, 1484753766, 1484753808, 148475384...

                                                       movieId  movieId_count  \
userId day
1      4146  [5952, 1653, 1250, 6539, 6377, 3448, 1088, 899...             52
2      4071  [5952, 497, 1374, 1653, 2640, 5445, 151, 236, ...            124
3      7521  [356, 593, 1270, 1, 2571, 260, 318, 1196, 527,...            178
       7688  [1206, 1208, 44191, 32587, 40815, 36529, 45186...              9
       8045  [1089, 4011, 741, 778, 111, 214, 293, 1252, 33...             21

             target_item                                              genre
userId day
1      4146         7361  [6, 6, 3, 6, 17, 9, 16, 3, 9, 2, 3, 6, 10, 3, ...
2      4071         2150  [6, 6, 6, 6, 6, 9, 9, 7, 9, 15, 7, 9, 2, 6, 6,...
3      7521        37729  [6, 9, 16, 9, 2, 6, 7, 9, 17, 3, 4, 5, 6, 10, ...
       7688         4344  [12, 12, 18, 7, 9, 18, 7, 9, 6, 9, 1, 1, 12, 2...
       8045        27773  [7, 9, 17, 18, 7, 9, 18, 7, 9, 9, 7, 9, 9, 18,...

In [7]:
examples["movieId_count"].max()

1720

In [8]:
examples[["target_item", "timestamp"]]

             target_item                                          timestamp
userId day
1      4146         7361  [1147868053, 1147868097, 1147868414, 114786846...
2      4071         2150  [1141415528, 1141415566, 1141415576, 114141558...
3      7521        37729  [1439472199, 1439472203, 1439472211, 143947221...
       7688         4344  [1453904021, 1453904031, 1453904046, 145390404...
       8045        27773  [1484753654, 1484753766, 1484753808, 148475384...
...                  ...                                                ...
162538 7513         6668  [1438780751, 1438780754, 1438780759, 143878083...
162539 2378         1676  [995149720, 995149760, 995149788, 995149788, 9...
162540 5315        44022  [1248854959, 1248855584, 1248856442, 124885702...
       5317        37720   [1249028584, 1249028593, 1249029673, 1249029678]
162541 5223          293  [1240946758, 1240946774, 1240947363, 124094737...

[824318 rows x 2 columns]

In [9]:
# TODO: Build feature columns for the input features

## Hyper-parameters

In [10]:
BATCH_SIZE = 16  # Batch Size
CATEGORICAL_COLUMNS = []  # Single-hot
CATEGORICAL_MH_COLUMNS = ["sampled_tag", "movieId", "genre"]  # Multi-hot
NUMERIC_COLUMNS = ["movieId_count"]

In [11]:
movie_workflow = nvt.Workflow.load(os.path.join(INPUT_DATA_DIR, "movie_features_workflow"))

In [12]:
EMBEDDING_TABLE_SHAPES, MH_EMBEDDING_TABLE_SHAPES = nvt.ops.get_embedding_sizes(movie_workflow)
EMBEDDING_TABLE_SHAPES.update(MH_EMBEDDING_TABLE_SHAPES)
EMBEDDING_TABLE_SHAPES

{'movieId': (45252, 512), 'genres': (21, 16), 'tags_unique': (73051, 512)}

In [13]:
# TODO: Figure out how to make column names align (maybe just hack it)

In [14]:
EMBEDDING_TABLE_SHAPES["sampled_tag"] = EMBEDDING_TABLE_SHAPES.pop('tags_unique', None)
EMBEDDING_TABLE_SHAPES["genre"] = EMBEDDING_TABLE_SHAPES.pop('genres', None)
EMBEDDING_TABLE_SHAPES

{'movieId': (45252, 512), 'sampled_tag': (73051, 512), 'genre': (21, 16)}

## DataLoader

In [15]:
import os
import tensorflow as tf

# we can control how much memory to give tensorflow with this environment variable
# IMPORTANT: make sure you do this before you initialize TF's runtime, otherwise
# TF will have claimed all free GPU memory
os.environ["TF_MEMORY_ALLOCATION"] = "0.7"  # fraction of free memory
from nvtabular.loader.tensorflow import KerasSequenceLoader, KerasSequenceValidater

In [16]:
train_dataset_tf = KerasSequenceLoader(
    os.path.join(INPUT_DATA_DIR, "grouped_examples.parquet"),  
    batch_size=BATCH_SIZE,
    label_names=["target_item"],
    cat_names=CATEGORICAL_COLUMNS + CATEGORICAL_MH_COLUMNS,
    cont_names=NUMERIC_COLUMNS,
    engine="parquet",
    shuffle=True,
    buffer_size=0.25,
    parts_per_chunk=1,
)

In [17]:
# batch = next(iter(train_dataset_tf))
# batch

({'genre__values': <tf.Tensor: shape=(249, 1), dtype=int64, numpy=
  array([[ 9],
         [ 6],
         [19],
         [ 9],
         [12],
         [17],
         [ 6],
         [ 9],
         [ 6],
         [ 9],
         [ 9],
         [ 2],
         [ 3],
         [ 6],
         [17],
         [ 6],
         [ 9],
         [ 6],
         [12],
         [18],
         [ 9],
         [ 9],
         [ 9],
         [ 2],
         [ 9],
         [19],
         [ 6],
         [ 9],
         [ 6],
         [16],
         [ 9],
         [ 6],
         [ 2],
         [12],
         [17],
         [18],
         [ 9],
         [ 2],
         [ 7],
         [15],
         [18],
         [ 3],
         [ 4],
         [ 5],
         [ 6],
         [10],
         [ 9],
         [ 9],
         [16],
         [ 3],
         [ 9],
         [ 2],
         [ 6],
         [ 6],
         [ 9],
         [14],
         [ 5],
         [ 6],
         [ 8],
         [19],
         [ 6],
         [ 9],
         [ 6],
         [ 9],
         [16],
         [ 8],
         [15],
         [ 9],
         [15],
         [ 6],
         [ 9],
         [ 9],
         [15],
         [18],
         [ 3],
         [ 5],
         [ 9],
         [ 9],
         [ 3],
         [ 5],
         [ 9],
         [ 2],
         [ 3],
         [18],
         [ 6],
         [ 7],
         [ 9],
         [ 2],
         [ 9],
         [18],
         [ 5],
         [ 9],
         [ 7],
         [15],
         [18],
         [ 2],
         [18],
         [ 6],
         [ 9],
         [16],
         [ 7],
         [ 9],
         [ 7],
         [ 9],
         [ 2],
         [ 7],
         [10],
         [18],
         [ 2],
         [ 3],
         [10],
         [ 9],
         [16],
         [ 9],
         [12],
         [15],
         [18],
         [ 6],
         [ 9],
         [ 6],
         [16],
         [ 9],
         [14],
         [18],
         [ 9],
         [18],
         [15],
         [18],
         [ 9],
         [ 5],
         [ 9],
         [ 9],
         [ 6],
         [ 9],
         [ 9],
         [ 9],
         [ 6],
         [ 6],
         [ 9],
         [ 3],
         [ 5],
         [10],
         [ 6],
         [16],
         [ 6],
         [16],
         [ 9],
         [ 6],
         [ 7],
         [ 9],
         [ 2],
         [ 7],
         [ 9],
         [12],
         [ 2],
         [ 6],
         [12],
         [ 6],
         [ 9],
         [16],
         [19],
         [ 2],
         [ 3],
         [10],
         [ 9],
         [15],
         [16],
         [15],
         [14],
         [ 9],
         [ 6],
         [12],
         [17],
         [ 9],
         [ 2],
         [ 3],
         [10],
         [ 6],
         [ 9],
         [16],
         [ 2],
         [ 7],
         [18],
         [ 6],
         [ 3],
         [ 5],
         [ 6],
         [ 7],
         [ 9],
         [ 2],
         [ 6],
         [ 3],
         [ 6],
         [ 7],
         [ 9],
         [ 9],
         [ 7],
         [ 9],
         [18],
         [19],
         [ 9],
         [ 9],
         [19],
         [ 2],
         [ 9],
         [18],
         [ 3],
         [ 8],
         [ 6],
         [ 6],
         [ 9],
         [16],
         [ 6],
         [15],
         [ 9],
         [ 8],
         [13],
         [ 9],
         [12],
         [18],
         [ 9],
         [ 9],
         [17],
         [18],
         [ 9],
         [ 9],
         [ 5],
         [ 6],
         [10],
         [16],
         [ 6],
         [ 9],
         [ 6],
         [16],
         [ 9],
         [16],
         [ 7],
         [ 9],
         [18],
         [ 2],
         [10],
         [12],
         [15],
         [18],
         [15],
         [18],
         [ 9],
         [ 9],
         [16]])>,
  'genre__nnzs': <tf.Tensor: shape=(16, 1), dtype=int32, numpy=
  array([[ 0],
         [ 0],
         [41],
         [ 0],
         [ 0],
         [30],
         [ 0],
         [ 0],
         [ 0],
         [ 3],
         [72],
         [43],
         [10],
         [ 0],
         [25],
         [25]], dtype=int32)>,
  'movieId__values': <tf.Tensor: shape=(119, 1), dtype=int64, numpy=
  array([[31184],
         [33646],
         [ 1215],
         [ 1320],
         [  474],
         [ 3868],
         [ 3250],
         [ 3809],
         [ 4238],
         [  175],
         [ 5882],
         [ 6213],
         [ 7704],
         [ 5782],
         [ 8361],
         [ 8169],
         [ 4262],
         [ 1376],
         [ 1196],
         [  260],
         [33493],
         [    1],
         [  260],
         [ 6539],
         [ 6377],
         [ 4886],
         [ 4306],
         [ 3114],
         [ 8368],
         [40815],
         [ 8961],
         [40629],
         [ 1028],
         [  588],
         [ 5107],
         [  150],
         [  349],
         [  318],
         [  161],
         [   10],
         [  457],
         [  300],
         [   34],
         [   50],
         [  454],
         [  356],
         [  111],
         [  236],
         [  337],
         [  377],
         [   17],
         [  350],
         [  261],
         [  265],
         [  527],
         [  357],
         [  587],
         [  246],
         [  474],
         [  230],
         [  515],
         [  608],
         [  222],
         [  342],
         [  497],
         [  431],
         [   58],
         [  648],
         [  281],
         [ 4896],
         [ 5816],
         [ 2571],
         [ 1527],
         [ 1580],
         [ 3000],
         [ 5618],
         [ 7099],
         [ 6350],
         [31658],
         [ 5971],
         [26662],
         [ 5989],
         [ 3285],
         [ 1059],
         [44199],
         [  356],
         [44665],
         [ 5690],
         [27156],
         [ 7254],
         [41566],
         [ 2947],
         [ 5816],
         [ 4896],
         [39183],
         [ 6024],
         [  592],
         [ 8235],
         [ 8970],
         [ 6804],
         [  660],
         [  832],
         [ 4230],
         [ 7739],
         [   37],
         [ 5386],
         [  812],
         [ 1134],
         [  318],
         [  293],
         [ 5418],
         [ 8665],
         [30707],
         [ 6539],
         [44191],
         [ 2858],
         [ 2959],
         [ 7254],
         [ 3969]])>,
  'movieId__nnzs': <tf.Tensor: shape=(16, 1), dtype=int32, numpy=
  array([[ 0],
         [ 0],
         [21],
         [ 0],
         [ 0],
         [13],
         [ 0],
         [ 0],
         [ 0],
         [ 1],
         [34],
         [21],
         [ 5],
         [ 0],
         [13],
         [11]], dtype=int32)>,
  'sampled_tag__values': <tf.Tensor: shape=(119, 1), dtype=int64, numpy=
  array([[56865],
         [61170],
         [14974],
         [54479],
         [ 6022],
         [21378],
         [57244],
         [23509],
         [42441],
         [55603],
         [39517],
         [ 5449],
         [  206],
         [11292],
         [ 1776],
         [50289],
         [72441],
         [58478],
         [  685],
         [50377],
         [58055],
         [47423],
         [50377],
         [33559],
         [ 5556],
         [ 3545],
         [71996],
         [49407],
         [ 3041],
         [61371],
         [32082],
         [52055],
         [61717],
         [47435],
         [31490],
         [ 8468],
         [ 4314],
         [57821],
         [71795],
         [53832],
         [ 4448],
         [ 4448],
         [29450],
         [70147],
         [28260],
         [12570],
         [64697],
         [19750],
         [10803],
         [61009],
         [33339],
         [41035],
         [70738],
         [15910],
         [58706],
         [45435],
         [68976],
         [ 7992],
         [18445],
         [31525],
         [23016],
         [47665],
         [38106],
         [68181],
         [36343],
         [50065],
         [56832],
         [45951],
         [33705],
         [69903],
         [18452],
         [39722],
         [58041],
         [70482],
         [32107],
         [ 8158],
         [10514],
         [51083],
         [ 5791],
         [45018],
         [66582],
         [38930],
         [37225],
         [48124],
         [58578],
         [42335],
         [45413],
         [45822],
         [ 7739],
         [19554],
         [63525],
         [37007],
         [43579],
         [47665],
         [ 7486],
         [50289],
         [53579],
         [33343],
         [47665],
         [24282],
         [33314],
         [54533],
         [28748],
         [28450],
         [ 2816],
         [52864],
         [ 2095],
         [ 4448],
         [ 8763],
         [ 9499],
         [62981],
         [69142],
         [41505],
         [25871],
         [60289],
         [20103],
         [65626],
         [21829],
         [54591]])>,
  'sampled_tag__nnzs': <tf.Tensor: shape=(16, 1), dtype=int32, numpy=
  array([[ 0],
         [ 0],
         [21],
         [ 0],
         [ 0],
         [13],
         [ 0],
         [ 0],
         [ 0],
         [ 1],
         [34],
         [21],
         [ 5],
         [ 0],
         [13],
         [11]], dtype=int32)>,
  'movieId_count': <tf.Tensor: shape=(16, 1), dtype=int32, numpy=
  array([[ 0],
         [ 0],
         [21],
         [ 0],
         [ 0],
         [13],
         [ 0],
         [ 0],
         [ 0],
         [ 1],
         [34],
         [21],
         [ 5],
         [ 0],
         [13],
         [11]], dtype=int32)>},
 <tf.Tensor: shape=(16, 1), dtype=int64, numpy=
 array([[44191],
        [ 1254],
        [  541],
        [ 3897],
        [ 4306],
        [ 4896],
        [41566],
        [44974],
        [ 8644],
        [27773],
        [   82],
        [ 5418],
        [ 6539],
        [ 1968],
        [ 2683],
        [ 4823]])>)

In [18]:
continuous_cols = []

for col in NUMERIC_COLUMNS:
    continuous_cols.append(
        tf.feature_column.numeric_column(col)
    )
    
continuous_cols

[NumericColumn(key='movieId_count', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [27]:
EMBEDDING_TABLE_SHAPES

{'movieId': (45252, 512), 'sampled_tag': (73051, 512), 'genre': (21, 16)}

In [28]:
embedding_dims = {}

for key, value in EMBEDDING_TABLE_SHAPES.items():
    embedding_dims[key] = 128  #value[1] # Latent dimensions

In [29]:
categorical_cols = []

for col in CATEGORICAL_COLUMNS + CATEGORICAL_MH_COLUMNS:
    categorical_cols.append(
        tf.feature_column.categorical_column_with_identity(
            col, EMBEDDING_TABLE_SHAPES[col][0] # Cardinalities
        )
    )
    
categorical_cols

[IdentityCategoricalColumn(key='sampled_tag', number_buckets=73051, default_value=None),
 IdentityCategoricalColumn(key='movieId', number_buckets=45252, default_value=None),
 IdentityCategoricalColumn(key='genre', number_buckets=21, default_value=None)]

In [30]:
model = YouTubeDNN(continuous_cols, categorical_cols, embedding_dims=embedding_dims, hidden_dims=[512,256,128])

In [31]:
# TODO: Add optimizer and other training config

In [32]:
model.input_layer.build({})
item_embeddings = model.input_layer.embedding_tables["movieId"]

def sampled_softmax_loss(y_true, y_pred):
    return tf.nn.sampled_softmax_loss(
        weights=item_embeddings,
        biases=tf.zeros((item_embeddings.shape[0],)),
        labels=y_true,
        inputs=y_pred,
        num_sampled=20,
        num_classes=item_embeddings.shape[0],
    )

model.compile("sgd", sampled_softmax_loss)

In [33]:
tf.keras.utils.plot_model(model)

('You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) ', 'for plot_model/model_to_dot to work.')

In [34]:
# TODO: Train the model!

In [35]:
# validation_callback = KerasSequenceValidater(valid_dataset_tf)

history = model.fit(train_dataset_tf, callbacks=[], epochs=1)

51520/51520 [==============================] - 425s 7ms/step - loss: 1.6095

In [38]:
MODEL_NAME_TF = os.environ.get("MODEL_NAME_TF", "movielens_retrieval_tf")
MODEL_PATH_TEMP_TF = os.path.join(MODEL_BASE_DIR, MODEL_NAME_TF, "1/model.savedmodel")

model.save(MODEL_PATH_TEMP_TF)

WARNING:absl:Function `_wrapped_model` contains input name(s) movieId__nnzs, movieId__values, movieId_count with unsupported characters which will be renamed to movieid__nnzs, movieid__values, movieid_count in the SavedModel.

INFO:tensorflow:Assets written to: ./models/movielens_retrieval_tf/1/model.savedmodel/assets

INFO:tensorflow:Assets written to: ./models/movielens_retrieval_tf/1/model.savedmodel/assets

In [39]:
rmm.reinitialize(managed_memory=False)